<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE web-app-->
<!--[<!ENTITY exclude-url SYSTEM  "exclude-url.xml"> ]>-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- 配置web.xml，使其具有springmvc特性，主要配置两处，一个是ContextLoaderListener，一个是DispatcherServlet -->
    <!-- spring mvc 配置 -->
    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>com.tomcat.DemoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>